.MediaPlayer {
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-areas: "screen" "botttom";
  .MediaPlayerScreen {
    grid-area: screen;
    position: relative;
    .MediaPlayerScreenName{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      font-size: 5em;
      z-index: 1;
      > div {
        text-align: center;
        margin-top: 100px;
      }
    }
  }
  .MediaPlayerBottom {
    > div {
      float: left;
      margin: 20px;
      margin-top: auto;
      margin-bottom: auto;
    }
    margin: 20px;
    grid-area: botttom;
    font-size: 1.5em;
    margin: auto;

    select {
      background-color: #363636;
      color: white;
    }
  }
}
