.MediaPlayer {
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-areas: "screen" "botttom";
  .MediaPlayerScreen {
    grid-area: screen;
    position: relative;
    &-status {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
    }
    &-info, &-status {
      .Time { 
        font-size: 2.5em
      }
      text-align: center;
      padding: 20px;
      font-size: 1.4em;
      h1 {
        font-size: 5em;
      }
    }
  }
  .MediaPlayerBottom {
    grid-area: botttom;
    margin: 20px;
    font-size: 1.5em;
    margin: auto;
    > div {
      float: left;
      margin: 20px;
      margin-top: auto;
      margin-bottom: auto;
    }
    select {
      width: 200px;
      background-color: #363636;
      color: white;
    }
  }
}
