.MediaPlayer {
  height: 100%;
  display: grid;
  grid-template-rows: 90% 10%;
  grid-template-areas: "screen" "botttom";
  .MediaPlayerScreen {
    grid-area: screen;
  }
  .MediaPlayerBottom {
    > div {
      float: left;
      margin: 20px;
      margin-top: auto;
      margin-bottom: auto;
    }
    margin: 20px;
    grid-area: botttom;
    font-size: 1.5em;
    margin: auto;

    select {
      background-color: #363636;
      color: white;
    }
  }
}
