.Video {
  height: 100%;
}

.Video iframe {
  height: 100%;
}

.Video .help {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 44%;
  height: 44%;
}
.Video .help .text {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  background-color: black;
  border: 5px solid white;
}
