.App {
  height: 100%;
  position: relative;
  .AppScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .AppPortraitWarning {
    display: none;
  }

  @media screen and (orientation: portrait) {
    .AppPortraitWarning {
      z-index: 1000;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: black;
      font-size: 2em;
      padding: 50px;
    }
  }
}

@mixin route-transition($speed, $from, $to) {
  &-enter {
    transform: translateX($from);
    &-active {
      transform: translateX(0%);
      transition: transform $speed ease-out;
    }
  }

  &-exit {
    transform: translateX(0%);
    &-active {
      transform: translateX($to);
      transition: transform $speed ease-out;
    }
  }
}

.AppSwipe-left {
  .AppScreen {
    @include route-transition(300ms, 100%, -100%);
  }
}

.AppSwipe-right {
  .AppScreen {
    @include route-transition(300ms, -100%, 100%);
  }
}
