@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$family-sans-serif: "Comfortaa", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/utilities/mixins.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/input-range-scss/inputrange";

body,
html,
#root {
  height: 100%;
  margin: 0;
  padding: 0;

   /* Disable selection */
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 12pt;
  @include mobile {
    font-size: 5pt;
  }
  @include tablet {
    font-size: 7pt;
  }
  @include desktop {
    font-size: 12pt;
  }
  @include widescreen {
    font-size: 13pt;
  }
}
